[submodule "protocol"]
	path = protocol
	url = https://github.com/Ragtime-LAB/fci-protocol
[submodule "3rdparty/astrial"]
	path = 3rdparty/astrial
	url = https://github.com/starwey604/astrial.git
[submodule "3rdparty/acados"]
	path = 3rdparty/acados
	url = https://github.com/acados/acados
[submodule "3rdparty/wirelink"]
	path = 3rdparty/wirelink
	url = https://github.com/starwey604/wirelink.git
	branch = dev/wirelink-p0
